{% extends 'teacher/teacher_home.html' %}

{% block account %}
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="col-sm-6 capital">
                <h4 style="color:#00b1b1;">name surname </h4></span>
                <span><p>fakülte</p></span>
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

            <div class="col-sm-5 col-xs-6 tital" >First Name:</div><div class="col-sm-7 col-xs-6 ">firstname</div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> lastname</div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital" >Date Of Birth:</div><div class="col-sm-7">dob</div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital" >Gender:</div><div class="col-sm-7">gender</div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital " >Address:</div><div class="col-sm-7">address</div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital " >E-mail:</div><div class="col-sm-7">email</div>
        </div>
    </div>
</div>

{% endblock %}
