{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<body>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='{% static "css/sidebar_style.css" %}'>
    <link rel="stylesheet" href='{% static "css/student_profile.css" %}'>
    <link rel="stylesheet" href='{% static "css/login_style.css" %}'>


</head>


{% block content %}{% endblock %}


</body>

</html>
