{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
                         class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>

                    {% if user.is_teacher %}
                    <div class="profile-usertitle-job">
                        Faculty of {{ teacher_faculty }}
                    </div>
                    {% endif %}
                </div>


                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav" >
                        <li>
                            {% if user.is_teacher %}
                            <a href="{% url 'teacher_main_page' %}">
                                <i class="glyphicon glyphicon-user"  ></i>
                                My Account </a>
                            {% endif %}
                        </li>
                        <li >
                            {% if user.is_teacher %}
                            <a href="{% url 'student_list' %}" >
                                <i class="glyphicon glyphicon-th-list"  ></i>
                                Students List </a>
                            {% endif %}
                            {% if user.is_parent %}
                            <a href="{% url 'parent_main_page' %}" >
                                <i class="glyphicon glyphicon-th-list"  ></i>
                                Students List </a>
                            {% endif %}

                            <a href="{% url 'logout' %}">
                                <i class="glyphicon glyphicon-user"  ></i>
                                Logout </a>
                        </li>

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="profile-content " >
            <div class="col-md-9">
                {% block list %}{% endblock %}
                {% block detail %}{% endblock %}
                {% block account %}{% endblock %}
            </div>


        </div>




    </div>
</div>


<br>
<br>
{% endblock %}
